body, html{
  margin: 0;
  height: 100%;
}

#root{
  height: 100%;
}
*:focus {
  outline: none;
}

*::-webkit-scrollbar-track
{

-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
width: 0px;
background-color: red !important;
}

  /**::-webkit-scrollbar-thumb*/
  /*{*/
  /*background-color: #AAA;*/
  /*background-image: -webkit-linear-gradient(90deg,*/
  /*                                          rgba(0, 0, 0, .2) 25%,*/
  /*  transparent 25%,*/
  /*  transparent 50%,*/
  /*  rgba(0, 0, 0, .2) 50%,*/
  /*  rgba(0, 0, 0, .2) 75%,*/
  /*  transparent 75%,*/
  /*  transparent)*/
  /*}*/
